*{
    padding:0px;
    margin:0px;
}

.row{
    margin:auto;
    max-width:900px;
}
.header{
height:50px;
background-color:rgb(133, 130, 130);
}
.header1{
    margin:auto;
    max-width:900px;
}
.advertisement{
    width:100%; 
    height:200px;
   
    background-image:url("./img1.jpg");
}
.pixel{
    margin:auto;
     max-width:900px;
     
}
 ul li{
     display: inline-block;
     list-style: none;
 } 
 .header input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .header .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .story{
      max-width:900px;
      margin:auto;
      height:200px;
  }
  .writer{
      max-width:900px;
      margin:auto;
      height:200px;
  }
  .service{
      max-width:900px;
      margin:auto;
      text-align:center;
  }
 
 .text{
    margin:auto;
    max-width:900px;
    background-color:white;

}
.card{
    border:2px solid black;
    box-shadow: 5px 3px 5px 5px;
}
.card >h1{
    color:rgb(143, 140, 140);
}
.toolbar{
    max-width:900px;
    margin:auto;
}
.footer{
    max-width:900px;
    margin:auto; 
}
h4.after:after {
    content: "";
    width: 50px;
    border-bottom: 1px solid red;
    position: absolute;
    bottom: 0;
    left: 10px;
}